---
# Homepage configuration
# See https://fontawesome.com/icons for icons options

title: "LazyHost"
subtitle: "ruttercrash"
# logo: "logo.png"
icon: "fas fa-skull-crossbones" # Optional icon

header: true
footer: false
colums: "3"
theme: default

defaults:
  layout: colums
  colorTheme: light

# navbar
links:
  - name: "START"
    icon: "fas fa-play-circle"
    url: "#config"
  - name: "Stop"
    icon: "fas fa-stop-circle"
    url: "#stop-config"
  - name: "Install"
    icon: "fas fa-plus-circle"
    url: "#install-config"
  - name: "Remove"
    icon: "fas fa-minus-circle"
    url: "#remove-config"
  # this will link to a second homer page that will load config from additionnal-page.yml and keep default config values as in config.yml file
  # see url field and assets/additionnal-page.yml.dist used in this example:

# Optional theme customization
colors:
  light:
    highlight-primary: "#3367d6"
    highlight-secondary: "#4285f4"
    highlight-hover: "#5a95f5"
    background: "#f5f5f5"
    card-background: "#ffffff"
    text: "#363636"
    text-header: "#ffffff"
    text-title: "#303030"
    text-subtitle: "#424242"
    card-shadow: rgba(0, 0, 0, 0.1)
    link: "#3273dc"
    link-hover: "#363636"
  dark:
    highlight-primary: "#3367d6"
    highlight-secondary: "#4285f4"
    highlight-hover: "#5a95f5"
    background: "#131313"
    card-background: "#2b2b2b"
    text: "#eaeaea"
    text-header: "#ffffff"
    text-title: "#fafafa"
    text-subtitle: "#f5f5f5"
    card-shadow: rgba(0, 0, 0, 0.4)
    link: "#3273dc"
    link-hover: "#ffdd57"

# Optional message
# message:
  #url: https://b4bz.io
  #style: "is-dark" # See https://bulma.io/documentation/components/message/#colors for styling options.
  #title: "Selfhosting (almost) effortless."
  #icon: "fa fa-grin"
  #content: "See <br /> <a href='https://gitlab.com/ruttercrash/lazyhost'>GitLab/ruttercrash/LazyHost</a>"

# Services
# First level array represent a group.
# Leave only a "items" key if not using group (group name, icon & tagstyle are optional, section separation will not be displayed).
services:
  - name: "START Menu"
    icon: "fas fa-play-circle"
  - items:
    - name: "Who am I"
      logo: "assets/whoami.jpg"
      subtitle: "whoami"
      tag: "START"
      url: "https://whoami.{{ lazyhost_domain }}"
      target: "_blank" # optional html a tag target attribute
